---
kind: Service
apiVersion: v1
metadata:
  name: todo
  labels:
    app: todo
spec:
{% if not todo_ingress %}
  type: NodePort
{% endif %}
  selector:
    app: todo
  ports:
  - name: web
    protocol: TCP
    port: 30000
{% if todo_ingress %}
    targetPort: 30000
{% else %}
    nodePort: 30000
{% endif %}
